@import url(http://fonts.googleapis.com/css?family=Orbitron:500);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);


body{
	background-size: 100% auto;
}

h1{
	font-family: Orbitron;
}

html{
	font-family: "Open Sans";
	color: white;
}

td{
	font-family: "Open Sans";
}

tr{
	font-family: "Open Sans";
}

.class{
	display: none;
}

.dijitTitlePaneTextNode{/*titles*/
	font-family: Orbitron;
	color: white;
}

.module{
	background: rgba(0,0,0,0.9);
}

#roles{

}

#util{

}
