/*
Gummy Stylesheet is characterized by a rainbow colored drop down menu, a pretty striped background, and colored divisions (pale so it's not too contrasted?) galore!
@author Charlie Su, charliesu@purdue.edu, Created 8/13/2014, Last Updated 8/28/2014

Table of Contents - ctrl+f the numbers (ie: "1.") to head to the sections instantaneously
1. Custom Fonts - allows loading of fonts provided from the database. This means we can load and use fonts that people don't have installed!
2. Drop Down Menu - the beautiful, majestic drop down menu
3. Headers - not sure yet hold on
*/


/*Gummy Stylesheet is characterized by a rainbow colored drop down menu, a pretty striped background, and rainbow colored divisions galore!
Created by Charlie Su on 8/13/2014*/

/*Table of Contents - ctrl+f the numbers to head to the sections
(1) Custom Fonts! - allows loading of fonts provided from the database. This means we can load and use fonts that people don't have installed!
2. Drop Down Menu - the beautiful, majestic drop down menu
3. Headers - not sure if I should retire them
4. 
*/

/*(1) Custom fonts!*/
@font-face
{
	font-family: CODE_BOLD;
	src:url("fonts/CODE Bold.otf");
	font-family:CODE_LIGHT;/*just the name*/
	src:url("fonts/CODE Light.otf");
}

/*(2) Drop down menu*/

nav ul/*first layer - the buttons that are immediately visible in the menu*/
{
	font-family: "CODE_LIGHT"; font-weight: 1000; background:#FFF9EB; opacity: 1; border-radius: 1px;/*creates those curved edges*/ box-shadow: 5px 1px 1px #FFD675; list-style: none;/*no bullet points for ul*/ display: table;/*creates a table that wraps the text*/ 
	position: relative;/*makes any changes in position relative to the original-supposed-to-be position*/
}
	nav ul:hover/*hovering over the menu*/
	{
		opacity: 1;
	}

nav ul li/*the list content themselves*/
{
	float: left;/*makes the list go from left to right*/
}
	nav ul li:hover > ul/*hovering over the content in the menu*/
	{
		display: block;/*This is the key to the interactivity of the drop-down menu*/
	}
	/*hovering over the drop down menus*/
	.one:hover {background:#F75993;}
	.two:hover{background: #FAB011;}
	.three:hover{background: #F7E411;}/*originally: EFF759*/
	.four:hover{background: #59F790;}
	.five:hover{background: #19E0FF;}
	.six:hover{background: #CD59F7;}

nav ul li a/*the links themselves, aka this affects the text*/
{
	display: block; color: #000000; padding: 5px 25px;
}
	nav ul li a:hover
	{
		color:#FFFFFF;
	}
	
nav ul ul/*default for the sub sections is to not be displayed*/
{
	display:none; position: absolute; top: 100%; background: #FCFCFC; border-radius: 0px; padding: 0;
}

nav ul ul li
{
	float: none; position: relative; color: #A0A0A0;
}
	nav ul ul li:hover
	{
		color:#000000;background:#FFE187;
	}

nav ul ul li a
{
	padding: 15px 40px;
}

/*3. HEADERS*/

h1 {font-family: GENISO; font-weight: 900; font-size: 200%; display: inline-table; border-radius: 5px; padding: 0; margin-bottom: 0}

/*OTHER*/

p {text-indent: 3%; margin-top: 0; padding: 0}

input {color: #888888}

.hr {width: 100%; margin-left: 0; margin-top: 10px}/*for visible hr*/
hr{width:100%; opacity: 0}

p hr {width:40%; margin-left: 0}

body{
background: repeating-linear-gradient(45deg, transparent, transparent 10px, #FFF9EB 10px, #FFF9EB 20px), linear-gradient(#70FFDE, #FFF9EB);/*Stripes!*/
/*background: repeating-linear-gradient(45deg, #70FFDE, #FFF9EB);/*Stripes!*/

/*background-image: url("cosmos07.jpg");*/
/*background: linear-gradient(#66FFCC 1%, #006F91 100%); really fancy blue to green*/
/*background: linear-gradient(#B2E6FF 1%, #FFCC66 100%); blue to orange*/
background-repeat: no-repeat; 
background-attachment: fixed;
font-family: Calibri;
color: #4A4A4A}


/*TEXT HIGHLIGHTING*/

::selection{color: #FFFFFF; background: #66CCFF}
::-moz-selection{color:#FFFFFF;background: #66CCFF}/*for mozilla firefox*/

.circular
{
	width: 100px; height:100px;border-radius:75px;background: url("images/KawaiiJirachi.jpg"); background-position: center center; background-size: 100% 100%;
}

/*Posts Block color*/
div {display:in-line table;padding: 20px 20px; border-radius: 10px; }
#home div {opacity=1;}
#projects div {background:#FFC400;}
#courses div {background:#F7E48F;}
#recommended div {background: #B6FF9C;}
#thoughts div {background:#4F4F4F;}
/*Links to Posts Block color
Links to posts are blocks that provide preview information
Title
Status
Thumbnail
Description
*/
a div {overflow:hidden;opacity:0.8;float:left;width:30%;height:40%;color:#FFFFFF;}
h2 {float: down}
a:link{text-decoration: none}
a div div{width: 100%; height: 55%; border-radius: 0px; opacity: 1;}
	a div:hover{opacity:1; }
	a div h3{font-weight:100; line-height: 100%; margin-bottom: 10px; text-indent: 3%}
	a div h4{font-weight: 100; line-height: 90%; text-indent: 3%; margin: 0; padding:0}
	a div p{padding-left:10px;}

.projects a div{background:#010101; padding-left: 0px}/*dark blue: 003270; choco brown: #6E3900*/
	/*#projects a div div{background:url("images/projects/VOSS.png");background-repeat: no-repeat;background-position: center left;}/*seems like background-repeat only works if one has been declared*/
		/*#VOSS {Display: none}*/
		#slr {Display: none}
		#led {Display: none}
		#VOSS div div{background:url("images/projects/VOSS.png"); background-repeat: no-repeat; background-position: center left;}
		#LegacyDungeon div div{background:url("images/projects/combatSlime7.png"); background-repeat: no-repeat; background-position: center center;}
		#slr div div {background:url("images/projects/VOSS.png"); background-repeat: no-repeat; background: center-left;}
		#led div div {background:url("led.png"); background-repeat: no-repeat}

.courses h2 {width: 100%}
.courses a div{background:#01558A; padding-left:0px}
	.edx div{background:#008CFF}
	.courses .coursera div{background:#C91A1A;}

#links a div {background:#59D0FF;}